.input {
    border: 1px solid #C7C7C7;
    padding: 8px 12px;
    border-radius: 4px;
    transition: $tr;
    width: 100%;

    &:hover, &:active, &:focus {
        border: 1px solid $active;
    }
}